@font-face {font-family: 'Chalk-JP';src: url('font/Chalk-JP.woff2'),url('font/Chalk-JP.woff');}
@font-face {font-family: 'FGNEWMIRAIREN';src: url('font/FGNEWMIRAIREN.woff2'),url('font/FGNEWMIRAIREN.woff');}
@font-face {font-family: 'Geo-Regular';src: url('font/Geo-Regular.woff2'),url('font/Geo-Regular.woff');}
@font-face {font-family: 'GLT-GonunneStroke-310MediumLight';src: url('font/GLT-GonunneStroke-310MediumLight.woff2'),url('font/GLT-GonunneStroke-310MediumLight.woff');}
@font-face {font-family: 'hexameteor';src: url('font/hexameteor.woff2'),url('font/hexameteor.woff');}
@font-face {font-family: 'Hitchhiker';src: url('font/Hitchhiker.woff2'),url('font/Hitchhiker.woff');}
@font-face {font-family: 'Kaisotai-Next-UP-B';src: url('font/Kaisotai-Next-UP-B.woff2'),url('font/Kaisotai-Next-UP-B.woff');}
@font-face {font-family: 'mogihaPen';src: url('font/mogihaPen.woff2'),url('font/mogihaPen.woff');}
@font-face {font-family: 'MRT-すぷめら mini';src: url('font/MRT-すぷめら mini.woff2'),url('font/MRT-すぷめら mini.woff');}
@font-face {font-family: 'Tr2n';src: url('font/Tr2n.woff2'),url('font/Tr2n.woff');}
@font-face {font-family: 'ZenKakuGothicAntique-Medium';src: url('font/ZenKakuGothicAntique-Medium.woff2'),url('font/ZenKakuGothicAntique-Medium.woff');}
@font-face {font-family: 'ゆず ペン懐 [M]';src: url('font/ゆず ペン懐 [M].woff2'),url('font/ゆず ペン懐 [M].woff');}
@font-face {font-family: '数式フォントver1.4';src: url('font/数式フォントver1.4.woff2'),url('font/数式フォントver1.4.woff');}
